body {
	font-family: "仿宋";
	background-image: url("../images/1123.jpg");
	font-size: 30px;
}
.color {
	background-color: #90ee90;
}

#container {
	height: 400px;
	width: 520px;
	border: 1px solid #cc;
	padding: 50px;
	padding-left: 50px;
	padding-right: 1px;
	padding-bottom: 0px;
	float: left;
}

.tab {
	height: 370px;
	width: 520px;
	overflow-y: scroll;
	overflow-x: none;
	padding: 50px;
	padding-top: 1px;
}

.dtab {
	height: 370px;
	width: 520px;
	overflow-y: scroll;
	overflow-x: none;
	padding: 50px;
	padding-top: 1px;
	padding-left: 160px;
	float: left;
}

input {
	height: 40px;
}

.mylable {	
	margin-left: 178px;
	margin-right:20px;
	font-size: 28px;
	font-family: '仿宋';	
}
input[type=button] {
	display: none;
}