td {
	text-align: center;
}

body {
	font-family: "仿宋";
	background-image: url("../images/1123.jpg");
}
.mydiv {
	width: 800px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}